.principal {
    height: 120vh;
    display: flex;
    justify-content: center;

}


.container {

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;

}


form {
    height: 100vh;
    width: 28vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    border: solid 2px rgba(0, 86, 149, 1);
    border-radius: 15px;

    div {

        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-around;
        color: rgba(0, 86, 149, 1);
    }

    input {
        border: solid 2px rgba(0, 86, 149, 1);
        width: 22vw;
        height: 10vh;
        border-radius: 10px;
        outline: none;
        padding-left: 20px;



    }

}

input:nth-child(6) {
    height: 7vh;
    width: 10vw;
    color: #ffff;
    background-color: rgba(0, 86, 149, 1);
    cursor: pointer;
}

@media (max-width:880px) {

    .principal{
        
        text-align: center;

    }
    .container {

        h2{
            font-size: 17px;
           
    
        }

        form {

            width: 70vw;
            height: 88vh;

            input{
                height: 8vh;
                width: 45vw;
            }

            input:nth-child(6) {
                height: 10vh;
                width: 23vw;
               
            }
        }


    }

}