.banner{
    background-image: url("../../assets/banner-livros\ \(1\)\ 1.png");
    background-repeat: no-repeat;
    background-size: contain;
    height: 88vh;
    

    h2{

        color:#fff;
    }
}