.banner {
    background-image: url("../../assets/banner-livros\ \(1\)\ 1.png");
    background-repeat: no-repeat;
    background-size: cover;
    height: 88vh;

    display: flex;
    align-items: center;
    color: #fff;

    h2 {
        width: 27vw;
        margin-left: 130px;
        font-size: 40px;

    }
}

.DevoDoar {
    height: 80vh;

    div {
        height: 15vh;
        display: flex;
        align-items: center;

        h2 {
            font-size: 30px;
            margin-left: 65px;
            color: #005695;

        }
    }
}

.boxCard {
    height: 50vh;
    display: flex;
    align-items: center;
    justify-content: space-evenly;

    article {
        width: 20%;
        height: 92%;
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: space-evenly;
        background-color: rgba(1, 87, 148, 0.3);
        border-radius: 20px;

        p {

            text-align: center;
            width: 70%;
            font-size: 1.4vw;
        }
    }


}

@media (max-width: 1200px){
    article {
        width: 230px;
        height: 38vh;

        
    }

}

@media (max-width:780px) {

    .banner {

        justify-content: center;

        h2 {
            margin-left: 0;
            text-align: center;
            width: 59vw;

        }
    }

    .boxCard {
        
        
       article{

        
        p {
            
            height: 15vh;
           
           
        }

       }

       
    }

}




@media (max-width:500px) {
    .DevoDoar {

        height: 150vh;

        display: flex;
        flex-direction: column;
        text-align: center;

        h2 {

            width: 70vw;
            text-align: center;
        }


    }

    .boxCard {

        display: flex;
        align-items: center;
        flex-direction: column;
        height: 130vh;
        gap: 8px;

        article {
            width: 90%;

            img {
                height: 10vh;

            }

            p {
                font-size: 20px;
            }
        }



    }
}