.doados {

    height: 85vh;
    display: flex;
    justify-content: space-between;
    flex-direction: column;

    h2 {

        height: 10vh;
        display: flex;
        justify-content: center;
        align-items: center;
        color: rgba(0, 0, 0, 1);
        
    }

    .livrosDoados {

        display: flex;
        align-items: center;
        justify-content: center;
        height: 80vh;
        width: 30vw;
        

        article {

            display: flex;
            justify-content: space-evenly;
            align-items: center;
            flex-direction: column;
            width: 15vw;
            height: 40vh;
            border: solid 2px rgba(0, 86, 149, 1);
            border-radius: 15px;
            margin-left: 20px;

            h4 {
                text-align: center;

                
            }
        }

    }

}