.doados {

    min-height: 80vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;


    h2 {

        height: 10vh;
        display: flex;
        justify-content: center;
        align-items: center;
        color: rgba(0, 0, 0, 1);

    }

    .livrosDoados {

        display: flex;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;
        min-height: 20vh;
        width: 90vw;
        margin-bottom: 8px;



        article {

            display: flex;
            justify-content: space-evenly;
            align-items: center;
            flex-direction: column;
            flex-wrap: wrap;
            width: 25%;
            min-height: 50vh;
            border: solid 2px rgba(0, 86, 149, 1);
            border-radius: 15px;
            margin-left: 20px;
            margin-bottom: 10px;
            font-size: 20px;

            h3 {
                text-align: center;
            }


            h4 {
                text-align: center;


            }

            img {
                width: 8vw;

            }

        }

    }

}

@media (max-width:780px) {

    .livrosDoados {

        display: flex;
        justify-content: space-evenly;
        align-items: center;
        flex-direction: column;
        gap: 10px;
        flex-wrap: wrap;
        

        article {

            width: 70%;
            height: 30vh;
        }
    }


}


@media (max-width: 550px) {

    .livrosDoados {

        display: flex;
        justify-content: space-evenly;
        align-items: center;
        flex-direction: column;
        gap: 10px;
        flex-wrap: wrap;
       
        article {
            border-radius: 50%;
           
            height: 40vh;
        }
    }


}